section.single-two-column {
    
    min-height:70vh;
    background-repeat:no-repeat;
    background-position-y: 57vh;
    background-size:50%;
    &.image-left {
        background-position-x:right;
    }
    .row {
        width: $content-width;
        margin:0 auto;
        align-items:center;
    }
    .image {
        
        img {
            display:block;
            height:80%;
            margin:0 auto;
        }
    }
    .title {
        
        font-family: 'Futura Bold';
        font-size:55px;
        line-height:55px;
        margin-bottom:20px;
    }
    
}