footer {

    background: #000;
    color:#fff;

    .start,
    .end,
    .reg {
        font-weight:bold;
        font-size:3.4rem;
        text-transform: none;
        font-family: "Futura Bold";
    }

    .start {
        background-color: $background-orange;
        border-radius: 50%;
        padding:5px;
        color:#000;
        display:inline-block;
    }
    .end {
        margin-left:6px;
        color:#fff;
        display:block;
    }
    .reg {        
        font-size:0.8rem;
        line-height:2rem;
        vertical-align:top;
        color:#fff;
        display:inline-block;
        font-weight:normal;
    }



    .row {
        width: $content-width;
        margin:0 auto;
        
    }
    ul li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    ul li a {
        line-height:40px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Futura Bold";
        color:#fff;
    }
    .copyright {
        flex-basis:80%;
        font-size:0.9rem;
    }
    .socials {
        flex-basis:20%;
        text-align:right;
       
        ul {
            li {
                list-style:none;
                display:inline-block;
                margin-left:20px;
                font-size:1.5rem;
            }
        }
    }


}