$link-color: #000;
$link-arrow: #FAB70C;
$background-grey: #f4f4f4;
$background-blue: #5c7292;
$background-orange: #FAB70C;
$main-font-color: #707070;
$sub-font-color:#8ca19c;

$content-width:80%;